@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 255, 255; /* White for light mode */
  --background-end-rgb: 255, 255, 255;   /* White for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255; /* White for dark mode */
    --background-end-rgb: 255, 255, 255;   /* White for dark mode */
  }
}

body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
